.inspiratie-page {
  & h1 {
    font-size: 3rem;
    letter-spacing: 0.77px;
    line-height: 3.4rem;
    margin-bottom: 3.5rem;
    @media (--bp-md) {
      font-size: 3.5rem;
      letter-spacing: 0.77px;
      line-height: 3.8rem;
      margin-bottom: 3.5rem;
    }
  }
  & .inspiratie-section {
    margin-top: 11rem;
  }
  & .inspiratie-section-inner {
    width: 100%;
  }
}
